extends layout

block content
    h1.h1_error_Page Page Not Found
    p.error_404 404
    p.p_error_Page Sorry! We couldn't find the page you were looking for.
    br
    p
      a.button(href="/books/page/1") Home
